body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links {
    background-color: lightblue;
    color: brown;
}

.ingredients {
    font-weight: 700;
    color: lightsalmon;
}

.steps {
    background-color: lightcoral;
    color: lightgreen;
}