body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.links {
    background-color: lightblue;
    color: brown;
    padding: 10px 0 10px 40px;
}

.ingredients {
    font-weight: 700;
    color: lightsalmon;
}

.steps {
    background-color: lightcoral;
    color: lightgreen;
}

.ingredients,
.steps {
    display: inline-block;
    padding: 10px 0 10px 40px;
}